<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>修改用户</title>
<link rel="icon" href="../favicon.ico" type="image/ico">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" rel="stylesheet">
<!--标签插件-->
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-tags-input/jquery.tagsinput.min.js') }}">
<link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
</head>
  
<body>
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <form action="{{url_for('edit_ur',name = name, page = page, user = user)}}" method="post" class="row">  <!--revise-->
            <div class="form-group col-md-12">
              <label for="title">登录名:</label>
              <input type="text" class="form-control" id="title" name="logname" value={{user.logname}} placeholder="请输入登录名" />  <!--revise-->
            </div>
            <div class="form-group col-md-12">
              <label for="title">真实姓名:</label>
              <input type="text" class="form-control" id="title" name="realname" value={{user.realname}} placeholder="请输入真实姓名" />  <!--revise-->
            </div>
            <div class="form-group col-md-12">
              <label for="type">用户类型:</label>
              <div class="form-controls">
                <select name="user_type" class="form-control" id="type">   <!--revise start-->
                  {% if user.user_type == '普通用户' %}
                  <option value="普通用户" selected>普通用户</option>
                  <option value="管理员">管理员</option>                    
                  <option value="客户">客户</option>
                  {% endif %}
                  {% if user.user_type == '管理员' %}
                  <option value="普通用户">普通用户</option>
                  <option value="管理员" selected>管理员</option>
                  <option value="客户">客户</option>
                  {% endif %}
                  {% if user.user_type == '客户' %}
                  <option value="普通用户">普通用户</option>
                  <option value="管理员">管理员</option>
                  <option value="客户" selected>客户</option>
                  {% endif %}                                               <!--revise end-->
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="type">用户性别:</label>
              <div class="form-controls">
                <select name="gender" class="form-control" id="type">    <!--revise start-->
                  {% if user.gender == '男' %}
                  <option value="男" selected>男</option>
                  <option value="女">女</option>
                  {% endif %}
                  {% if user.gender == '女' %}
                  <option value="男">男</option>
                  <option value="女" selected>女</option>
                  {% endif %}                                             <!--revise end-->
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="title">Email:</label>
              <input type="text" class="form-control" id="title" name="email" value={{user.email}} placeholder="请输入邮箱" />  <!--revise-->
            </div>
            <div class="form-group col-md-12">
              <label for="title">移动电话:</label>
              <input type="text" class="form-control" id="title" name="cellphone" value={{user.cellphone}} placeholder="请输入移动电话" />  <!--revise-->
            </div>
            <div class="form-group col-md-12">
              <label for="title">办公电话:</label>
              <input type="text" class="form-control" id="title" name="workphone" value={{user.workphone}} placeholder="请输入办公电话" />  <!--revise-->
            </div>

            <div class="form-group col-md-12">
              <label for="type">用户状态:</label>
              <div class="form-controls">
                <select name="user_state" class="form-control" id="type">    <!--revise start-->
                  {% if user.user_state == '正常' %}
                  <option value="正常" selected>正常</option>
                  <option value="禁用">禁用</option>
                  {% endif %}
                  {% if user.user_state == '禁用' %}
                  <option value="正常">正常</option>
                  <option value="禁用" selected>禁用</option>
                  {% endif %}                                                 <!--revise eend-->
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="type">删除状态:</label>
              <div class="form-controls">
                <select name="del_state" class="form-control" id="type">      <!--revise start-->
                  {% if user.del_state == '正常' %}
                  <option value="正常" selected>正常</option>
                  <option value="已删除">已删除</option>
                  {% endif %}
                  {% if user.del_state == '已删除' %}
                  <option value="正常">正常</option>
                  <option value="已删除" selected>已删除</option>
                  {% endif %}                                                  <!--revise end-->
                  
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
              <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
<!--标签插件-->
<script src="{{ url_for('static', filename='js/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.min.js') }}"></script>
</body>
</html>